@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Suisse Intl';
    src: url('/fonts/SuisseIntl-Regular.otf') format('opentype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
}